@media screen and (max-width: 1200px) {
  /* banner */
  #banner {
    width: 100%;
    height: 80vh;
  }
}

@media screen and (max-width: 800px) {
  /* banner */
  #banner {
    width: 100%;
    height: 80vh;
  }

  /* about */
  .about_wrap {
    flex-direction: column;
  }

  .about_img {
    /* width: 100%;
    margin-top: 50px;
    margin-right: 0;
    height: 200px; */
    display: none;
  }

  .about_tit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .about_tit h1 {
    margin-top: 100px;
  }

  .about_tit_img {
    position: relative;
    top: 50px;
    left: 0;
  }

  /* menu */
  #menu {
    flex-direction: column;
  }

  .menu_left {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .menu_img_traveller {
    margin-left: 0;
    width: 100%;
    height: 100px;
  }

  .menu_img_men {
    width: 100%;
    height: 100px;
  }

  .menu_img_life {
    width: 100%;
    height: 100px;
    margin-left: 0;
  }

  .menu_right {
    margin-top: 20px;
  }

  .menu_img_signature {
    width: 100%;
    height: 100px;
    margin: 0;
  }

  /* new */
  .new_container {
    width: 95%;
    margin: 0 auto;
  }

  .new_tit {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 100px;
  }

  .new_item_set.swiper-wrapper {
    left: 0;
  }

  .new_item {
    width: 100% !important;
  }
  
  /* season */
  #season {
    margin-top: 100px;
    padding-top: 100px;
  }

  #season .container {
    flex-direction: column;
  }

  .season_left {
    width: 100%;
  }

  .season_left_img {
    width: 100%;
  }

  .season_right_img {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }

  .season_right p {
    position: static;
    transform: rotate(0);
    padding-top: 10px;
  }

  /* journal */
  #journal {
    margin-top: 200px;
  }

  .journal_item_box {
    flex-direction: column;
  }

  .journal_item {
    margin-bottom: 20px;
    width: 100%;
  }

  .journal_item:last-child {
    margin-bottom: 0;
  }

  .journal_item_img {
    width: 100%;
  }

  /* sns */
  #sns {
    margin-top: 200px;
  }

  #sns .container {
    position: relative;
  }

  .sns_top {
    margin: 0;
    justify-content: center;
  }

  .sns_bottom {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .sns_tit {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: 0;
    transform: translateX(-40%);
  }

  /* footer */
  #footer {
    margin-top: 200px;
  }
.footer_cs h2 {
    font-size: var(--font-small);
  }

  .footer_copyright {
    width: 88%;
  }
  }

  
