:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-extra-bold: 600;
  --weight-bold: 500;
  --weight-semi-bold: 400;
  --weight-regular: 300;
  --weight-thin: 200;
}

/* Typography */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--weight-extra-bold);
  font-size: var(--font-medium);
  margin-bottom: 10px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 0;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--font-regular);
  font-size: var(--font-micro);
  color: var(--color-black);
  margin-top: 15px;
}

p {
  font-family: 'Pretendard', '-apple-system', 'BlinkMacSystemFont', 'system-ui', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  /* font-weight: var(--font-regular);
  font-size: var(--font-small);
  margin: 6px 0; */
  font-weight: var(--weight-thin);
  font-size: var(--font-micro);
  margin-bottom: 18px;
  line-height: 1.8;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

/* nav */
#nav {
  position: fixed;
  width: 100%;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--weight-extra-bold);
  text-transform: uppercase;
  padding: 10px 28px;
  z-index: 20;
  top: 0;
  left: 0;
}

.nav_container {
  width: 800px;
  margin: 0 auto;
}

.nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.nav_menu_item {
  display: flex;
}

.nav_menu_item a {
  margin: 0 35px;
  font-size: var(--font-micro);
  color: var(--color-black);
}

.nav_menu_item a:first-child {
  margin-left: 0;
}

.nav_menu_item a:last-child {
  margin-right: 0;
}

.nav_logo img {
  max-width: 160px;
}

/* nav_m */
.nav_menu_m {
  display: flex;
}

/* banner */
#banner {
  width: 100%;
  height: 100vh;
}

.banner_wrap.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.banner_set.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banner1 {
  background: url(../img/banner_1.png) center/cover no-repeat;
}
.banner2 {
  background: url(../img/banner_3.jpg) center/cover no-repeat;
}
.banner3 {
  background: url(../img/banner_2.jpg) center/cover no-repeat;
}

.slide {
  display: flex;
  padding: 50px 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.banner_txt {
  width: 100%;
  color: var(--color-white);
  line-height: 1.8;
  margin-top: 40px;
}

.banner_txt h1 {
  font-size: var(--font-large);
  margin-top: 16px;
}

.banner_txt p {
  font-weight: var(--weight-thin);
  opacity: 0.9;
}

.banner_btn {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-white);
  font-size: var(--font-micro);
  font-weight: var(--weight-thin);
  margin: 80px 30px 10px;
  padding: 6px 50px;
  border: 0.5px solid var(--color-white);
}

/* Swiper 커스텀 */
.swiper-pagination {
  margin-bottom: 50px;
}

.swiper-pagination > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.6;
  background: var(--color-white);
}
.swiper-pagination > .swiper-pagination-bullet-active {
  width: 40px; 
  transition: width 0.5s;
  border-radius: 5px; 
  background: var(--color-white); 
  opacity: 1;
}

.banner_next {
  margin-right: 100px;
}

.banner_prev {
  margin-left: 75px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* about */
.about_wrap {
  max-width: 1330px;
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.about_img {
  margin-top: 240px;
  width: 695px;
  height: 450px;
  margin-right: 48px;
}

.about_tit {
  margin-top: 240px;
  width: 515px;
  position: relative;
}

.about_tit h1 {
  margin-top: 180px;
  margin-bottom: 0;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
}

.about_tit p {
  width: 87%;
}

.about_tit_img {
  position: absolute;
  width: 200px;
  top: -48px;
  right: 0;
}

.arrow_icon {
  display: inline-block;
  padding: 10px 10px 7px;
}

.arrow_icon img {
  width: 21px;
  height: 8px;
}

/* menu */
#menu {
  display: flex;
  justify-content: space-between;
}

.menu_left {
  display: flex;
  flex-wrap: wrap;
  margin-top: 220px;
  margin-left: 140px;
  width: 700px;
  height: 580px;
}

.menu_img_desc:hover {
  background-color: rgba(0,0,0,0.5);
}

.menu_img_traveller {
  background: url(../img/traveller.png) center/cover no-repeat;
  width: 400px;
  height: 280px;
  margin-left: 300px;
}

.menu_img_men {
  background: url(../img/men.png) center/cover no-repeat;
  width: 400px;
  height: 280px;
  margin-top: 20px;
}

.menu_img_life {
  background: url(../img/life.png) center/cover no-repeat;
  width: 280px;
  height: 280px;
  margin-top: 20px;
  margin-left: 20px;
}

.menu_right {
  margin-top: 220px;
}

.menu_img_signature {
  background: url(../img/signature.png) center/cover no-repeat;
  width: 320px;
  height: 580px;
}

.menu_img_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu_img_desc a {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
}

/* new */
#new {
  overflow-x: hidden;
  padding: 0 50px;
  width: 100%;
}

.new_container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.new_tit {
  margin-top: 220px;
}

.new_item_box {
  position: relative;
  width: 100%;
}

.new_item_set.swiper-wrapper {
  display: flex;
  top: 0;
}

.new_item .swiper-slide {

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.new_item {
  width: 350px !important;
  display: flex;
  justify-content: center;
}

.new_item_img {
  width: 100%;
}

.new_item_txt p {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-regular);
  color: var(--color-black);
  font-weight: var(--weight-extra-bold);
  margin: 0;
}

.new_next {
  right: -50px !important;
  top: 40% !important;
}

.new_prev {
  left: -50px !important;
  top: 40% !important;
}

/* season */
#season {
  margin-top: 180px;
  padding-top: 180px;
  background: linear-gradient(to bottom, #E4E1D8 50%, transparent 50%);
}

#season .container {
  display: flex;
  justify-content: space-between;
}

.season_left {
  width: 590px;
}

.season_left_img {
  margin-top: 65px;
  margin-right: 90px;
  width: 500px;
}

.season_left_img_bottom {
  width: 245px;
}

.season_right {
  position: relative;
}

.season_right_img {
  margin-left: 140px;
  margin-top: 55px;
  width: 450px;
}

.season_right p {
  margin-bottom: 18px;
  position: absolute;
  left: 0;
  bottom: 150px;
  transform: rotate(270deg);
}

/* journal */
#journal {
  margin-top: 185px;
}

#journal .container {
  max-width: 1090px;
  margin: 0 auto;
}

.journal_item_box {
  display: flex;
  justify-content: space-between;
}

.journal_item {
  width: 350px;
}

.journal_item_img {
  width: 100%;
}

.journal_item_txt h2 {
  margin-bottom: 0;
}

/* sns */
#sns {
  margin-top: 200px;
}

.sns_container {
  max-width: 745px;
  /* width: 100%; */
  margin: 0 auto;
}

.sns_top {
  display: flex;
}

.sns_tit {
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
}

.sns_bottom {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.sns_img {
  width: 250px;
  margin-right: 20px;
}

.img {
  margin-right: 0;
}

/* footer */
#footer {
  margin-top: 290px;
  padding-bottom: 50px;
}

.footer_container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.footer_w {
  position: relative;
}

.footer_cs {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer_cs h2 {
  font-size: var(--font-small);
}

.footer_cs li {
  margin-bottom: 8px;
}

.footer_cs a,
.sub a {
  font-family: 'Pretendard', '-apple-system', 'BlinkMacSystemFont', 'system-ui', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: var(--font-micro);
  font-weight: var(--weight-thin);
}

.footer_sns {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.footer_sns a {
  display: flex;
  background: var(--color-black);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 20px;
}

.footer_sns a img {
  width: 50%;
}

.footer_sns a:last-child {
  margin-right: 0;
}

.footer_copyright {
  margin-top: 40px;
}